@use "vars" as *;

@mixin bottom-link($lightAccent, $darkAccent) {
  flex: 1 0 auto;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  color: #374151;
  border-bottom: 1px solid transparent;
  font-size: 1em;
  padding: 1em 1.25em 1em 0;
  text-decoration: none;
  transition: color 0.35s, border-color 0.35s;

  @include dark-mode() {
    color: #6b7280;
  }

  &:first-child {
    border-left-width: 0;
  }

  .svg-inline--fa {
    width: 1.5em;
    height: 1.1em;
    margin-right: 0.5em;
    text-align: center;
    vertical-align: -0.125em;
  }

  &:hover {
    border-bottom: 1px solid $lightAccent;
    color: $lightAccent;

    @include dark-mode() {
      border-bottom: 1px solid $darkAccent;
      color: $darkAccent;
    }
  }

  @media (max-width: $cutoff) {
    display: block;
    float: left;
    width: 33.33333%;
    text-align: left;
    margin: 0;
    padding: 1em;
    font-size: 1em;
    border: 1px solid #d1d5db;

    &:hover {
      border-color: $lightAccent;

      @include dark-mode() {
        border-color: $darkAccent;
      }
    }
  }

  @media (max-width: $screen-sm-max) {
    float: none;
    width: auto;
    border-width: 0px 0px 1px;
    padding: 1em 2em;

    .svg-inline--fa {
      width: 2.5em;
      margin: 0 0.75em;
    }
  }

  @include dark-mode() {
    @media (max-width: $cutoff) {
      border-color: #4b5563;
    }
  }
}

@mixin main-link() {
  display: block;
  background: #374151;
  color: #fff;
  font-size: 1em;
  padding: 0.5em 0.75em;
  white-space: nowrap;
  vertical-align: middle;
  line-height: 2.5;
  text-decoration: none;
  border-radius: 5px;
  width: 80%;
  text-align: left;
  margin: 0.75em auto;
  transition: background 0.3s;

  @include dark-mode() {
    background: #6b7280;
  }

  .logo-img {
    display: inline-block;
    width: 2.5em;
    text-align: center;
    margin-right: 0.5em;

    img.section411-logo {
      display: inline-block;
      vertical-align: middle;
      height: 23px;
      margin-top: -2px;
    }
  }

  .svg-inline--fa {
    display: inline-block;
    height: 1.1em;
    width: 2.5em;
    text-align: center;
    margin-right: 0.5em;
    vertical-align: -0.125em;
  }

  @media (max-width: $cutoff) {
    display: block;
    width: 100%;
  }

  &:hover {
    background: #1e40af;
  }

  @include dark-mode() {
    &:hover {
      background: #1e3a8a;
    }
  }
}
