$baseURL: "../type";

@font-face {
  font-family: "Quicksand";
  font-display: swap;
  font-style: normal;
  font-weight: 500;

  src: url("#{$baseURL}/Quicksand-Regular.woff2") format("woff2"),
    url("#{$baseURL}/Quicksand-Regular.woff") format("woff");
}

@font-face {
  font-family: "Quicksand";
  font-display: swap;
  font-style: normal;
  font-weight: 700;

  src: url("#{$baseURL}/Quicksand-Bold.woff2") format("woff2"),
    url("#{$baseURL}/Quicksand-Bold.woff") format("woff");
}
