$bodyFont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,
  Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$titleFont: "Quicksand", $bodyFont;

$screen-md-max: 1000px;
$screen-sm-max: 500px;
$cutoff: 750px;

$textColor: #222;
$headerColor: desaturate(#369, 20%);
$linkColor: $headerColor;

@mixin dark-mode() {
  @if "#{&}"=="body" {
    &.dark-mode {
      @content;
    }
  } @else {
    @at-root body.dark-mode & {
      @content;
    }
  }

  @media (prefers-color-scheme: dark) {
    @content;
  }
}
