@use "vars" as *;

#dark-mode-switch {
  position: fixed;
  top: 0;
  right: 0;
  font-size: var(--dark-mode-switch-icon-height, 17px);
  z-index: 200;

  @media (prefers-color-scheme: dark) {
    display: none;
  }

  button {
    border: 0;
    background: transparent;
    transition: color 0.3s;
    color: var(--text-color);
    height: var(--dark-mode-switch-height, 40px);
    padding: var(--dark-mode-switch-padding, 5px 10px);
    cursor: pointer;
  }

  svg .fa-primary,
  svg .fa-secondary {
    fill: var(--text-color);
    opacity: 1;
  }

  .svg-inline--fa {
    width: 1.5em;
    height: 1.1em;
    vertical-align: -0.125em;
  }

  .fa-sun {
    display: block;
  }

  .fa-moon {
    display: none;
  }

  @include dark-mode() {
    .fa-sun {
      display: none;
    }

    .fa-moon {
      display: block;
    }
  }
}
