@import (inline) "_page.css";

html {
  margin: 0px;
  padding: 0px;
  font-size: 13px;
}

body {
  margin: 0px;
  width: 7.5in;
  background-color: white;
  position: relative;
}

#content {
  margin: 0px auto;
  background: #fff;
  width: 900px;

  .container {
    padding: 0px;
    border-width: 0px;
    box-shadow: none;
    border-radius: 0px;
    font-size: 108%;
    background: #fff;

    h1 {
      letter-spacing: normal;
      font-size: 60px;
    }

    h3 {
      letter-spacing: normal;
    }
  }
}

#footer {
  display: none;
}

#print-footer {
  display: block;
  margin: 3em auto 0;
  width: 900px;
  position: relative;
  text-align: center;

  page-break-before: avoid;
  .clearfix;

  .container {
    padding: 0px;
    text-align: center;
    color: #999;
  }

  a {
    @color: @linkColor;
    color: @color;
    &:active {
      color: @color;
    }
    &:visited {
      color: @color;
    }
    &:hover {
      text-decoration: none;
      color: @color;
    }
  }
}
