@import (inline) "../node_modules/normalize.css/normalize.css";

@screen-md-max: 900px;
@screen-sm-max: 500px;
@cutoff: 700px;

@titleFont: "Bangers", sans-serif;
@bodyFont: "Roboto", sans-serif;

html {
	font-size: 17px;
	line-height: 1.4;

	@media (max-width: @screen-sm-max) {
		font-size: 15px;
		line-height: 1.2;
	}
}

body {
	background: url('/img/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
	font-family: @bodyFont;
	font-weight: 300;
	color: #222;

	@media (max-width: @screen-md-max) {
		background-image: none;
	}
}

// apply a natural box layout model to all elements, but allowing components to change
// per https://www.paulirish.com/2012/box-sizing-border-box-ftw/
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

#main-container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;

	@media (max-width: @screen-md-max) {
		display: block;
	}

	.card {
		flex: 0 1 900px;

		background: fadeOut(#f9f9f9, 0%);
		box-shadow: 0.25em 0.25em 1em 0 fadeOut(#555, 50%);
		border: 1px solid #555;
		border-bottom: none;

		display: flex;
		flex-direction: column;
		align-items: center;
		overflow: hidden;

		@media (max-width: @screen-md-max) {
			border: none;
			min-height: 100vh;
			position: relative;
			padding-bottom: 20vh;
		}

		@media (max-width: @screen-sm-max) {
			padding-bottom: 0;
		}
	}

	.top {
		display: flex;
		align-items: center;

		@media (max-width: @cutoff) {
			display: block;
		}
	}

	.bottom {
		display: flex;
		width: 100%;

		.links {
			display: flex;
			position: relative;
			width: 100%;
		}

		@media (max-width: @screen-md-max) {
			position: absolute;
			bottom: 0;

			.links {
				display: block;
			}
		}

		@media (max-width: @screen-sm-max) {
			display: block;
			position: static;
			bottom: auto;

			.links {
				display: block;
			}
		}

		.link {
			&.fb {
				@bg: #44619d;
				@text: #fff;
				.bottom-link();
			}

			&.tw {
				@bg: #00aced;
				@text: #fff;
				.bottom-link();
			}

			&.instagram {
				@bg: #d047d1;
				@text: #fff;
				.bottom-link();
			}

			&.linkedin {
				@bg: #0077b5;
				@text: #fff;
				.bottom-link();
			}

			&.googleplus {
				@bg: #dd4b39;
				@text: #fff;
				.bottom-link();

			}

			&.github {
				@bg: #222;
				@text: #fff;
				.bottom-link();
			}
		}
	}

	.img {
		flex: 0 1 40%;
		padding: 3em 2em;
		padding-right: 0;

		img {
			width: 100%;
			border-radius: 300px;
		}

		@media (max-width: @cutoff) {
			max-width: 200px;
			padding: 0;
			margin: 1em auto;

			img {
				display: block;
				max-width: 100%;
			}
		}
	}

	.details {
		flex: 0 0 60%;
		color: #222;
		padding: 1em 2em 2em;

		.name {
			margin: 0;
			font-size: 4em;
			line-height: 1.1;
			font-family: @titleFont;
			font-weight: 400;
		}

		.title {
			font-weight: 300;
			margin: 0;
			color: #999;
			font-size: 1.7em;
			line-height: 1.1;
			margin-bottom: 1.5em;
			font-family: @bodyFont;
			font-weight: 300;
		}

		@media (max-width: @cutoff) {
			.name, .title {
				text-align: center;
			}
		}

		@media (max-width: @screen-sm-max) {
			.name {
				font-size: 3em;
			}

			.title {
				font-size: 1.5em;
			}
		}

		.links {
			display: flex;
			margin-top: 2em;

			@media (max-width: @screen-sm-max) {
				display: block;
			}

			.link {
				.main-link();
			}
		}
	}
}

.bottom-link() {
	flex: 1 0 0;
	display: inline-block;
	white-space: nowrap;
	text-align: center;
	color: #444;
	background: #f1f1f1;
	border: 1px solid #ddd;
	border-width: 1px 0px;
	font-size: 0.9em;
	padding: 1em 1.25em;
	text-decoration: none;
	transition: background-color 0.35s, color 0.35s, border-color 0.25s;

	.fa {
		width: 1.5em;
		text-align: center;
	}

	&:hover {
		background-color: @bg;
		color: @text;
		border-color: darken(@bg, 5%);
	}

	@media (max-width: @screen-md-max) {
		display: block;
		float: left;
		width: 33.33333%;
		text-align: left;
		margin: 0;
		padding: 1em;
		font-size: 1em;
		border: 1px solid #ddd;
	}

	@media (max-width: @screen-sm-max) {
		float: none;
		width: auto;
		border-width: 1px 0px 0px;
		padding: 1em 3.25em;
	}
}

.main-link() {
	@color: #369;
	@text: #fff;

	flex: 0 0 33.33333%;
	display: block;
	background: @color;
	color: @text;
	font-size: 0.9em;
	padding: 0.75em 0.75em 0.75em 0.5em;
	white-space: nowrap;
	vertical-align: middle;
	line-height: 1.3;
	text-decoration: none;
	border-radius: 10px;
	box-shadow: 0 0.25em 0 0 darken(@color, 10%);
	transition: transform 0.2s, box-shadow 0.2s;
	margin-right: 10px;

	img {
		display: inline-block;
		vertical-align: middle;
		padding: 0 0.25em;
	}

	img, .fa {
		width: 2em;
		text-align: center;
	}

	&:hover {
		transform: translateY(-0.1em);
		box-shadow: 0 0.35em 0 0 darken(@color, 15%);
	}

	&:active, &:focus {
		transform: translateY(0.2em);
		box-shadow: 0 0.05em 0 0 darken(@color, 10%);
	}

	@media (max-width: @screen-md-max) {
		display: block;
		margin-bottom: 1em;
	}
}
