<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>James J. Sawczuk - Software Engineer</title>

	<link href="{{ asset "/dist/resume.css" }}" rel="stylesheet" type="text/css" />
	<script src="{{ asset "/dist/resume.js" }}" defer></script>
	<link href="https://fonts.googleapis.com/css?family=Quicksand:500,700" rel="stylesheet">

	<meta name="keywords" content="jimmy, sawczuk, james, resume, php, html, css, mysql, mongodb, developer, software, engineer, go, programmer" />
	<meta name="description" content="The professional resume of James J. (Jimmy) Sawczuk, a software engineer who currently lives and works in Rock Hill, SC." />
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-3634519-20', 'auto');
		ga('send', 'pageview');
	</script>
</head>
<body>
	<div id="content">
		<div class="container">
			<h2>
				<span class="line line-block">PO Box 142 <span class="dot">&middot;</span> Fort Mill, SC 29716</span>
				<span class="line"><b>phone</b> (440) 796-7806</span>
				<span class="dot">&middot;</span>
				<span class="line"><b>e-mail</b> <a href="mailto:me@jimmysawczuk.com" target="_blank">me@jimmysawczuk.com</a></span>
				<span class="dot">&middot;</span>
				<span class="line"><b>web</b> <a href="https://jimmysawczuk.com" target="_blank">jimmysawczuk.com</a></span>
			</h2>
			<h1>James J. Sawczuk</h1>

			<div>
				<h3>Education</h3>
				<div class="education">
					<div class="dates">
						Aug. 2005 – May 2009
					</div>

					<div class="school">
						Case Western Reserve University
					</div>

					<div class="city">
						Cleveland, OH
					</div>

					<div class="degree">
						Bachelor of Science, Computer Science<br />
						Minor, Mathematics
					</div>
				</div>
			</div>

			<div>
				<h3>Experience</h3>
				<div class="experience">
					<div class="dates">
						Sept. 2017 – present
					</div>

					<div class="company">
						Red Ventures
					</div>

					<div class="city">
						Fort Mill, SC
					</div>

					<div class="title">
						Senior Software Engineer
					</div>

					<ul class="extra">
						<li>Developed an API in Go for an internal system for doctors to update their credentials</li>
						<li>Prototyped a command-line tool in Go to synchronize logic changes between CDN environments</li>
						<li>Led the development of and architected large portions of a search and scheduling API for a major health provider network, as part of the company's leap into healthcare</li>
						<li>Helped to formalize strategies on the backend team for using source control effectively, as well as for collaborating with the frontend team</li>
						<li>Mentored other engineers on the team, participated in code reviews and helped teammates debug problems</li>
					</ul>
				</div>

				<div class="experience">
					<div class="dates">
						June 2009 – Sept. 2017
					</div>

					<div class="company">
						LoudDoor LLC, Storylift LLC
					</div>

					<div class="city">
						Columbia, SC
					</div>

					<div class="title">
						Software Engineer/Senior Software Engineer
					</div>

					<ul class="extra">
						<li>Developed highly-scalable web applications using a LAMP stack deployed on Amazon EC2</li>
						<li>Used a number of other technologies such as memcache, Redis, and node.js in production</li>
						<li>Spearheaded the development of a business pivot to Facebook Page audience analytics</li>
						<li>Prototyped most of the analytics algorithms and systems used in the company</li>
						<li>Listed as a co-inventor of utility patent #9,842,349, "System and method for preference determination."</li>
						<li>Consulted on a statistical study of Facebook fan engagement vs. age for Coca-Cola to present at a conference</li>
						<li>Designed and implemented a rich persona definition API in both Go and PHP which is still used for most of the company's analytics work</li>
						<li>Designed and implemented a worker daemon in Go that schedules and runs thousands of analytic tasks per day</li>
						<li>Designed and implemented a datamining program in Go to find "interesting" crosstabs for clients</li>
						<li>Created a web app that allowed the creation and execution of ad-hoc SQL queries for use in reporting</li>
						<li>Designed and implemented a sales lead platform with the ability to forward leads to multiple client platforms</li>
						<li>Implemented a "management report" which contains critical metrics and is generated daily and e-mailed to decision-makers at the company</li>
					</ul>
				</div>

				<div class="experience">
					<div class="dates">
						June 2007 – May 2009
					</div>

					<div class="company">
						Lazorpoint, LLC
					</div>

					<div class="city">
						Cleveland, OH
					</div>

					<div class="title">
						Application Developer - Intern<br />
						Client Services Engineer - Intern
					</div>

					<ul class="extra">
						<li>Made recommendations for hardware and software upgrades for various clients</li>
						<li>Worked with other engineers to standardize a network monitoring system</li>
						<li>Created custom, data-driven applications for various clients</li>
						<li>Gained experience in .NET development, report development and handheld development</li>
						<li>Worked with other developers to standardize practices including application deployment techniques, version control management, and product testing standards</li>
					</ul>
				</div>

				<div class="experience">
					<div class="dates">
						May 2006 – July 2006
					</div>

					<div class="company">
						City of Mentor
					</div>

					<div class="city">
						Mentor, OH
					</div>

					<div class="title">
						Engineering Intern
					</div>

					<ul class="extra">
						<li>Assisted in the civil engineering department with day-to-day tasks</li>
					</ul>
				</div>

				<div class="experience">
					<div class="dates">
						Nov. 2003 – Aug. 2005
					</div>

					<div class="company">
						Perry Local Schools IS Department
					</div>

					<div class="city">
						Perry, OH
					</div>

					<div class="title">
						Web Programmer/Designer
					</div>

					<ul class="extra">
						<li>Content management and addition for faculty and staff on the main district website</li>
						<li>Worked with other students on several larger projects, including a high school course registrar and a course database complete with objectives</li>
					</ul>
				</div>
			</div>

			<div class="block">
				<h3>Skills</h3>
				<div class="normal_list">
					<ul>
						<li><b>Programming languages:</b> Extensive experience with Go, PHP (standard and MVC paradigms, Laravel framework), Javascript/jQuery (some Backbone.js, React, Vue, ES6); experience in C#, shell scripting</li>
						<li><b>Databases:</b> Extensive experience with MySQL and SQL Server development/optimization; some experience with Redis, MongoDB, MySQL administration</li>
						<li><b>APIs:</b> Extensive experience with the Facebook platform (Graph API, Canvas apps); experience with the Twitter, Github API</li>
						<li><b>Operating Systems:</b> Extensive experience with Windows 98 through Windows 10, macOS; experience in Linux (desktop, terminal, and programming)</li>
						<li><b>Other technology:</b> Extensive experience with Amazon AWS (EC2, ECS, S3, some Lambda, some Cloudfront), Git; experience with Kubernetes, Cloudflare, Subversion, Mercurial, and CVS version control, Memcache, Redis</li>
					</ul>
				</div>
			</div>

			<div class="block">
				<h3>Other</h3>
				<div class="normal_list">
					<ul>
						<li>Created a small free-to-use blog website that operated for almost four years. Users were allowed to upload photos, write journal entries, etc. Source available upon request.</li>
						<li>Created <a href="https://jimmysawczuk.github.io/less-tree">less-tree</a>, a program that intelligently batch compiles .less files to .css files.</li>
						<li>Created <a href="https://section411.com">Section 411</a>, a blog on the <a href="http://gohugo.io">Hugo</a> platform with a theme designed from scratch.</li>
					</ul>
				</div>

				<div class="normal_list">
					<ul>
						<li>
							<b><abbr title="Microsoft Certified Professional">MCP</abbr> ID</b>:
							6635414
						</li>
						<li>
							<b>Stack Overflow:</b>
							<a href="http://www.stackoverflow.com/users/350278/jimmy-sawczuk">Jimmy Sawczuk</a>
						</li>
						<li>
							<b>GitHub</b>:
							<a href="http://www.github.com/jimmysawczuk">github.com/jimmysawczuk</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="block">
				<h3>References</h3>
				<p>
					Available upon request: <a href="mailto:me@jimmysawczuk.com">me@jimmysawczuk.com</a>
				</p>
			</div>
		</div>
	</div>

	<div id="footer">
		{{ $rev := getJSON "REVISION.json" }}
		<span class="line">&copy; {{ now | formatTime "2006" }} Jimmy Sawczuk</span>
		<span class="dot">&middot;</span>
		<span class="line revision">
			<a href="https://github.com/jimmysawczuk/jimmysawczuk.com/commit/{{ index $rev "hex" "full" }}">rev. {{ index $rev "hex" "short" }}</a>
		</span>
		<span class="dot">&middot;</span>
		<span class="line" id="revision-date">Last modified on {{ index $rev "date" | parseTime | formatTime "January 2, 2006" }}</span>
	</div>

	<div id="print-footer">
		<div class="container">
			&copy; {{ now | formatTime "2006" }} Jimmy Sawczuk
			&middot;
			<span class="revision">
				<a href="https://github.com/jimmysawczuk/jimmysawczuk.com/commit/{{ index $rev "hex" "full" }}">rev. {{ index $rev "hex" "short" }}</a>
			</span>
			&middot;
			Printed on <span id="print-date"></span>
		</div>
	</div>
</body>
</html>
